@import "tailwindcss";

html, body {
overflow-x: hidden;
min-height: 100vh;
scroll-behavior: smooth;
overflow-x: hidden;
width: 100vw;
}

.wave {
  display: inline-block;
  animation: waveAnim 1.5s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.1s);
}

@keyframes waveAnim {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

